.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 40px);
}
.ventures-wrapper {
  grid-row: 4/6;
  grid-column: 4/10;
}
.venture-head {
  padding: 4px 0 4px 4px;
  border-radius: 5px;
  text-align: center;
  color: #272b2e;
  font-family: 'Helvetica';
  font-weight: bold;
}
.ventures {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.options {
  margin: 0 15px 0 15px;
}
input[type=radio] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
}
label {
  vertical-align: top;
}
.category-wrapper {
  grid-row: 7/9;
  grid-column: 4/10;
}
.options-wrapper {
  display: flex;
  justify-content: center;
}
.lms-options {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.search {
  grid-row: 9/10;
  grid-column: 4/10;
  margin-top: 10px;
}
.search > span {
  background-color: #2e4053;
  padding: 10px;
  color: white;
  border-radius: 3px;
}
.job-list{
  grid-column: 4/10;
  grid-row: 11/20;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  font-family: Helvetica;
  margin-bottom: 16px;
}
thead {
  background-color: #b03a2e;
  color: white;
}
tr {
   text-align: left;
}
tr:nth-child(even) {background-color: #cfcfcf;}
th {
  font-family: Helvetica;
}
td {
  border-bottom: 1px solid #DCC;
}
th, td {
  padding: 8px 10px;
}
.play {
  color: #44bd32;
}
